<%= form_for(@language) do |f| %>
  <% if @language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@language.errors.count, "error") %> prohibited this language from being saved:</h2>

      <ul>
      <% @language.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>  
  <div class="field">
  	<%= f.label :file %><br />
  	<%= f.file_field :file, :value => f.object.file.to_file %>  	
  </div>
  <div class="field">  	
  	<%= link_to f.object.file.original_filename, f.object.file.url if f.object.file.present? %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
