<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @language.name %>
</p>

<p>
  <b>Content:</b>
  <%= @language.content %>
</p>

<p>
  <b>File:</b>
  <%= @language.file_file_name %>  
</p>

<p>
  <%= link_to @language.file.original_filename, @language.file.url %>	
</p>


<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'All languages', languages_path %>
